@page "/studentpage"

<h2>List Of Student</h2>
 <a href="/addstudent">Create New</a> 
 <a><br></a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nim</th>
            <th>Nama Belakang</th>
            <th>Nama Depan</th>
            <th>Tanggal Masuk</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stud in Students)
        {
            <tr>
                <td>@stud.studentID</td>
                <td>@stud.lastName</td>
                <td>@stud.firstName</td>
                <td>@stud.enrollmentDate</td>
                <td>
                <a href="@($"detailpage/{stud.studentID}")" class="btn btn-info">details</a>
                <a href="@($"enrollment/{stud.studentID}")" class="btn btn-primary">enroll</a>
                <a href="@($"editstudent/{stud.studentID}")" class="btn btn-warning">edit</a>
                <a href="@($"deletestudent/{stud.studentID}")" class="btn btn-danger">delete</a></td>
            </tr>
        }
    </tbody>
</table>